// Woocommerce product gallery slider width fix
figure.woocommerce-product-gallery__wrapper { 
  max-width: inherit !important; 
}

// Fix for Woocommerce checkout Billing Details form layout. 
// understrap #701
.woocommerce-input-wrapper {
  width: 100%;
}
